<div id="middle_col">
  <table>
    <tr><td><h1>text1</h1></td></tr>
    <tr><td><h2>text2</h2></td></tr>
  </table>
  <table class="championship">
    <tr>
      <td>1.</td><td><a>First Team</a></td>
      <td><a>3</a></td>
      <td><a>4</a></td>
      <td><a>5</a></td>
      <td><a>6</a></td>
      <td>12 - 14</td>
      <td><b>8</b></td>
    </tr>
    <tr>
      <td>12.</td><td><span><b><a>Second Team</a></b></span></td>
      <td><a>13</a></td>
      <td><a>14</a></td>
      <td><a>15</a></td>
      <td><a>16</a></td>
      <td>112 - 114</td>
      <td><b>18</b></td>
    </tr>
  </table>
</div>